extends layout

block content

    div#head
        //p Header
        h1 Nutzergruppe erstellen
        if user
                p Hallo #{user.username}
                a(href='/logout') Logout

        if errMessage && errMessage.length > 0
            div.errMessage
                p.errMessage= errMessage

        if succMessage && succMessage.length > 0
            div.succMessage
                p.succMessage= succMessage

    div#main
        //p Main
        div#left.floatLeft
            div.padding
                div#mainMenu
                    h3 Main Menu
                    ul
                        if user.user_role_id == userRoles.admin.id
                            li
                                a(href="/") Start
                            li
                                a(href="/admin/createUserCandidate") Nutzer erstellen
                            li
                                b Nutzergruppe erstellen
                            li
                                a(href="/admin/manageUserGroups") Nutzer zu Gruppen zuordnen

        div#middle.floatLeft
            div.padding
                div#content
                    form(action="/admin/createUserGroup", method="post")
                        div
                            select(name = "userRole")
                                each role in userRoles
                                    option(value=role.id) #{role.name}
                        div
                            p Email:
                                input(type="text", name="email")
                        div
                            p Nutzergruppe
                            select(name = "userGroup")
                                option(value="none") Keine
                                each group in userGroups
                                    option(value=group.user_group_id) #{group.name}
                        br
                        br
                        button(type="submit") Speichern

        div#right.floatLeft
            div.padding
                div#contextMenu
                    h3 Context Menu

    div#bottom
        //p Bottom