extends baseLayout

block middle

    div#content
        form(action="/expert/manageIndicator/"+manageIndicator.indicator_id, method="post")

            div.formBlock
                h5 Indikator
                div
                    p Name*:
                        input(type="text", name="name", value=manageIndicator.name)
                div
                    p Beschreibung:
                        textarea(name="description")
                            | #{manageIndicator.description}
            div.formBlock
                h5 Bewertungsfaktor
                div
                    p Zielerreichungsfaktor*:
                        input(type="text", name="target_factor", value=manageIndicator.target_factor)
            div.formBlock
                h5 Details (optional)
                div
                    p Quellenverweis:
                        textarea(name="source")
                            | #{manageIndicator.source}
                //if sets
                //    div
                //        p Indikatoren-Set:
                //                each set, key in sets
                //                    div= set.name
                //                        input(type="checkbox", name="sets", value=set.indicator_set_id)

            div.formBlock.submit
                button(type="submit") Speichern